# Workflow for publishing packages
name: Publish to Pub.dev

on:
  push:
    tags:
      - '*-v*'
  workflow_dispatch:

permissions:
  id-token: write # Required for authentication using OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install Melos
        run: dart pub global activate melos

      - name: Bootstrap Workspace
        run: melos bootstrap

      - name: Publish to pub.dev
        run: melos publish --no-dry-run --yes
