name: Dart Web3 SDK CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install Melos
        run: dart pub global activate melos

      - name: Bootstrap Workspace
        run: |
          cd dart_web3
          melos bootstrap

      - name: Static Analysis
        run: |
          cd dart_web3
          melos run analyze

      - name: Run Tests (All Packages)
        run: |
          cd dart_web3
          # Dynamically run tests for all packages that have a 'test' directory
          melos exec --concurrency=1 --fail-fast --dir-exists="test" -- dart test
